.carousel {
  width: 600px;
  height: 380px;
}

.carousel-control-prev {
  height: 300px;
}

.carousel-control-next {
  height: 300px;
}

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}

.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}

.carousel-caption {
  pointer-events: none;
}

@media (max-width: 768px) {
  .carousel {
    width: 90%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 130px;
    height: 100px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .carousel-caption {
    top: 1rem;
  }
}
